<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Level Two</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
  </head>
  <body>
    <h1>hi welcome to django level two</h1>
    <h2>here are your access record</h2>

    <div class="djangotwo">
      {% if access_record %}
        <table>
          <thead>
            <th>site name</th>
            <th>Date access</th>
          </thead>


        {% for acc in access_record %}
          <tr>
            <td>{{ acc.name }}</td>
            <td>{{ acc.date }}</td>
          </tr>
        {%  endfor %}
        </table>
      {% else %}
          <p>NO access records </p>
      {% endif %}



    </div>
  </body>
</html>
